<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vivin Joghee</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Vivin Joghee</h1>
        <nav>
            <a href="/">Home</a> |
            <a href="/about">About</a> |
            <a href="/resume">Resume</a> |
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <section>
        <h2>Introduction</h2>
        <p>I am a highly skilled Swift Messaging Expert with 11 years of valuable banking experience. My expertise lies in developing, deploying, configuring, and maintaining Swift and Java applications on on-premise and Azure infrastructure. Additionally, I possess hands-on experience in FIN, FileAct, and InterAct messaging services and I am currently spearheading the DevOps framework for our portfolio.</p>
    </section>
</body>
</html>
